In [ ]:
from google.colab import files
uploaded = files.upload()

Saving datasets_794035_1363047_carprices.csv to datasets_794035_1363047_carprices.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('datasets_794035_1363047_carprices.csv')
df

         Car Model  Mileage  Sell Price  Age
0           BMW X5    69000       18000    6
1           BMW X5    35000       34000    3
2           BMW X5    57000       26100    5
3           BMW X5    22500       40000    2
4           BMW X5    46000       31500    4
5             Audi    59000       29400    5
6             Audi    52000       32000    5
7             Audi    72000       19300    6
8             Audi    91000       12000    8
9   Mercedez Benz     67000       22000    6
10  Mercedez Benz     83000       20000    7
11  Mercedez Benz     79000       21000    7
12  Mercedez Benz     59000       33000    5
13          Toyota    51000       42000    4
14          Toyota    65000       32000    7
15          Toyota    39000       55000    5

In [ ]:
dummies = pd.get_dummies(df['Car Model'])
dummies

    Audi  BMW X5  Mercedez Benz   Toyota
0      0       1               0       0
1      0       1               0       0
2      0       1               0       0
3      0       1               0       0
4      0       1               0       0
5      1       0               0       0
6      1       0               0       0
7      1       0               0       0
8      1       0               0       0
9      0       0               1       0
10     0       0               1       0
11     0       0               1       0
12     0       0               1       0
13     0       0               0       1
14     0       0               0       1
15     0       0               0       1

In [ ]:
merge = pd.concat([df,dummies],axis='columns')
merge

         Car Model  Mileage  Sell Price  ...  BMW X5  Mercedez Benz   Toyota
0           BMW X5    69000       18000  ...       1               0       0
1           BMW X5    35000       34000  ...       1               0       0
2           BMW X5    57000       26100  ...       1               0       0
3           BMW X5    22500       40000  ...       1               0       0
4           BMW X5    46000       31500  ...       1               0       0
5             Audi    59000       29400  ...       0               0       0
6             Audi    52000       32000  ...       0               0       0
7             Audi    72000       19300  ...       0               0       0
8             Audi    91000       12000  ...       0               0       0
9   Mercedez Benz     67000       22000  ...       0               1       0
10  Mercedez Benz     83000       20000  ...       0               1       0
11  Mercedez Benz     79000       21000  ...       0               1       0
12  Mercedez Benz     59000       33000  ...       0               1       0
13          Toyota    51000       42000  ...       0               0       1
14          Toyota    65000       32000  ...       0               0       1
15          Toyota    39000       55000  ...       0               0       1

[16 rows x 8 columns]

In [ ]:
final = merge.drop(['Car Model'],axis='columns')
final

    Mileage  Sell Price  Age  Audi  BMW X5  Mercedez Benz   Toyota
0     69000       18000    6     0       1               0       0
1     35000       34000    3     0       1               0       0
2     57000       26100    5     0       1               0       0
3     22500       40000    2     0       1               0       0
4     46000       31500    4     0       1               0       0
5     59000       29400    5     1       0               0       0
6     52000       32000    5     1       0               0       0
7     72000       19300    6     1       0               0       0
8     91000       12000    8     1       0               0       0
9     67000       22000    6     0       0               1       0
10    83000       20000    7     0       0               1       0
11    79000       21000    7     0       0               1       0
12    59000       33000    5     0       0               1       0
13    51000       42000    4     0       0               0       1
14    65000       32000    7     0       0               0       1
15    39000       55000    5     0       0               0       1

In [ ]:
final.columns

Index(['Mileage', 'Sell Price', 'Age', 'Audi', 'BMW X5', 'Mercedez Benz ',
       'Toyota'],
      dtype='object')

In [ ]:
predictors = ['Mileage','Age','Audi','BMW X5','Mercedez Benz ','Toyota']
x = final[predictors]
y = final['Sell Price']

In [ ]:
x.shape,y.shape

((16, 6), (16,))

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2 , random_state =43)

In [ ]:
x_train.shape,x_test.shape

((12, 6), (4, 6))

In [ ]:
y_train.shape,y_test.shape

((12,), (4,))

In [ ]:
reg = LinearRegression()

In [ ]:
model = reg.fit(x_train,y_train)

In [ ]:
model.predict([[69000,6,0,1,0,0]])

array([19691.37462078])

In [ ]:
model.score(x_test,y_test)

0.8116899171688129

In [ ]:
model.score(x_train,y_train)

0.9588077853742553